<a href="https://colab.research.google.com/github/manishramamoorthy/Guvi-Task/blob/main/DataPreprocessing_Assignment11_(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Data.csv

**Step 1: Importing the libraries**

In [55]:
import pandas as pd

**Step 2: Importing dataset**

In [60]:
data = pd.read_csv("/content/Data (1).csv")
data.head()

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes

In [61]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Country    10 non-null     object
 1   Age        9 non-null      float64
 2   Salary     9 non-null      float64
 3   Purchased  10 non-null     object
dtypes: float64(2), object(2)
memory usage: 448.0+ bytes

In [62]:
data.dtypes

Country       object
Age          float64
Salary       float64
Purchased     object
dtype: object

In [63]:
data = data.drop_duplicates()

In [64]:
data.describe()

             Age        Salary
count   9.000000      9.000000
mean   38.777778  63777.777778
std     7.693793  12265.579662
min    27.000000  48000.000000
25%    35.000000  54000.000000
50%    38.000000  61000.000000
75%    44.000000  72000.000000
max    50.000000  83000.000000

**Step 3: Handling the missing data**

In [65]:
data.isnull().sum()

Country      0
Age          1
Salary       1
Purchased    0
dtype: int64

In [66]:
data["Age"] = data["Age"].fillna(data["Age"].mean())
data["Salary"] = data["Salary"].fillna(data["Salary"].mean())

In [67]:
data

   Country        Age        Salary Purchased
0   France  44.000000  72000.000000        No
1    Spain  27.000000  48000.000000       Yes
2  Germany  30.000000  54000.000000        No
3    Spain  38.000000  61000.000000        No
4  Germany  40.000000  63777.777778       Yes
5   France  35.000000  58000.000000       Yes
6    Spain  38.777778  52000.000000        No
7   France  48.000000  79000.000000       Yes
8  Germany  50.000000  83000.000000        No
9   France  37.000000  67000.000000       Yes

In [68]:
data.isnull().sum()

Country      0
Age          0
Salary       0
Purchased    0
dtype: int64

**Step 4: Encoding categorical data**

In [69]:
data["Purchased"].unique()

array(['No', 'Yes'], dtype=object)

In [70]:
data["Purchased"] = data["Purchased"].map({"Yes":1,"No":0})

**Step 5: Creating a dummy variable**

In [71]:
dummy = pd.get_dummies(data.Country)

In [72]:
dummy

   France  Germany  Spain
0       1        0      0
1       0        0      1
2       0        1      0
3       0        0      1
4       0        1      0
5       1        0      0
6       0        0      1
7       1        0      0
8       0        1      0
9       1        0      0

In [73]:
data = pd.concat([data,dummy],axis="columns")
data

   Country        Age        Salary  Purchased  France  Germany  Spain
0   France  44.000000  72000.000000          0       1        0      0
1    Spain  27.000000  48000.000000          1       0        0      1
2  Germany  30.000000  54000.000000          0       0        1      0
3    Spain  38.000000  61000.000000          0       0        0      1
4  Germany  40.000000  63777.777778          1       0        1      0
5   France  35.000000  58000.000000          1       1        0      0
6    Spain  38.777778  52000.000000          0       0        0      1
7   France  48.000000  79000.000000          1       1        0      0
8  Germany  50.000000  83000.000000          0       0        1      0
9   France  37.000000  67000.000000          1       1        0      0

**Step 6: Splitting the datasets into training sets and Test sets**

In [74]:
X = data[["Age","Salary","France","Germany","Spain"]]
y = data["Purchased"]

In [75]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.25)

**Step 7: Feature Scaling**

In [76]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [77]:
X_train

array([[ 1.32661317,  1.45231482, -0.8660254 ,  1.15470054, -0.40824829],
       [-1.11714793, -0.94027236, -0.8660254 ,  1.15470054, -0.40824829],
       [ 0.59348484,  0.54478176,  1.15470054, -0.8660254 , -0.40824829],
       [ 1.08223706,  1.1223028 ,  1.15470054, -0.8660254 , -0.40824829],
       [-0.50620766, -0.61026033,  1.15470054, -0.8660254 , -0.40824829],
       [ 0.10473262, -0.1335763 , -0.8660254 ,  1.15470054, -0.40824829],
       [-1.4837121 , -1.43529039, -0.8660254 , -0.8660254 ,  2.44948974]])

In [78]:
X_test

array([[-0.26183155,  0.13226672,  1.15470054, -0.8660254 , -0.40824829],
       [-0.04460834, -1.10527837, -0.8660254 , -0.8660254 ,  2.44948974],
       [-0.13964349, -0.36275131, -0.8660254 , -0.8660254 ,  2.44948974]])